:root{
    --cor-branco: white;
}

.button{
    color: var(--cor-branco);
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    margin: 5px 2.5px;
    cursor: pointer;
    transition: 0.3s;

    background-color: var(--cor);
}

.button:hover{
    background-color: var(--cor-branco);
    color: var(--cor);
    border: 1px solid var(--cor);
}

.azul{
    --cor: royalblue;
}
.vermelho{
    --cor: red;
}
.violeta{
    --cor: violet;
}